@import '../../../../../styles/variables';

.drop-zone {
    border: 2px dotted lighten(black, 60%);
    padding: 5px;
    &.file-over {
        border: 2px dotted red;
    }
    .input {
        margin: 5px;
        margin-left: 0;
    }
    .progress {
        position: relative;
        bottom: 0;
        left: 0;
        background-color: red;
        height: 2px;
        width: 0;
        // margin: 5px;
    }
}


.image-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .image {
        width: 33.333%;
        display: flex;
        mat-card {
            position: relative;
            margin: 10px;
            width: 100%;
            // height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-bottom: 10px;
            padding-bottom: 40px;
            mat-card-content {
                max-height: 300px;
                height: 300px;
                display: flex;
                justify-content: center;
                align-items: center;
                img {
                    display: block;
                    width: auto;
                    max-width: 100%;
                    height: auto;
                    max-height: 100%;
                }
            }
            mat-card-actions {
                position: absolute;
                bottom: 20px;
            }
        }
    }
    @media (max-width: $media-mobile-max) {
        .image {
            width: 100%;
        }
    }
}