@import '../styles/variables';

.main-toolbar {
    position: fixed;
    z-index: 2;
    display: flex;
    align-content: center;
    justify-content: center;
    // notification-batch {
    //     margin-top: 8px;
    //     position: absolute;
    //     right: 16px;
    // }
    .logo {
        width: 33px;
        fill: white;
    }
    .logo-text {
        width: 110px;
        margin-left: 10px;
    }
    .sidenav-button {
        position: absolute;
        left: 10px;
    }
    @media (max-width: $media-mobile-max) {
        .sidenav-button {
            margin-right: 38%;
        }
        .logo-text {
            display: none;
        }
        // notification-batch {
        //     position: relative;
        //     right: 0;
        //     margin-top: 15px;
        // }
    }
}
