@import '../../../../../styles/variables';

.step-display {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 20px;
}

.question {
    padding: 20px;
    padding-top: 30px;
}

.ask-question {
    width: 100%;
    text-align: center;
    padding-top: 20px;
}

mat-radio-group, .checkbox-wrapper {
    &.flex-inline {
        display: flex;
        flex-direction: row;
        justify-content: center;
        ::ng-deep .mat-checkbox-layout, mat-radio-button {
            // margin-right: 10px;
            flex: 33%;
            // &:last-child {
            //     margin-right: 0;
            // }
            display: flex;
            justify-content: center;
            margin-right: 20px;

            .image-wrapper {
                height: 300px;
                img {
                    width: inherit;
                    height: inherit;
                    max-width: 100%;
                }
            }

        }
        ::ng-deep .mat-checkbox-inner-container {
            margin-right: 10px;
        }

        @media (max-width: $media-mobile-max) {
            flex: 100%;
            flex-direction: column;
            mat-radio-button {
                margin-bottom: 10px;
            }
        }
    }   
}