<form [formGroup]="questionsFormGroup.get('questions')">

    <div class="step-display"> Frage: {{ currentQuestionIndex + 1 }} / {{ questions.length }} </div>
    <mat-divider></mat-divider>
    
    <div class="ask-question"> {{ currentQuestion.ask }}</div>

    <div class="question">

        <div [hidden]="currentQuestion.type != 'select-option'"
            class="question-select-option">

            <ng-container *ngIf="currentQuestion.multiple">
                <div class="checkbox-wrapper flex-inline">
                    <mat-checkbox 
                        *ngFor="let option of currentQuestion.options; let i = index"
                        [formControl]="questionsFormGroup.get(['questions', currentQuestionIndex, 'values', option.key])">
                        {{ option.value }}
                    </mat-checkbox>
                </div>
            </ng-container>

            <ng-container *ngIf="!currentQuestion.multiple">
                <mat-radio-group [formControl]="questionsFormGroup.get(['questions', currentQuestionIndex, 'value'])" class="flex-inline">
                    <mat-radio-button *ngFor="let option of currentQuestion.options" [value]="option.key">{{ option.value }}</mat-radio-button>
                </mat-radio-group>
            </ng-container>

        </div>

        <div [hidden]="currentQuestion.type != 'select-image-option'"
            class="question-select-image-option">

            <ng-container *ngIf="currentQuestion.multiple">
                <div class="checkbox-wrapper flex-inline">
                    <mat-checkbox 
                    *ngFor="let image of currentQuestion.options"    
                    [formControl]="questionsFormGroup.get(['questions', currentQuestionIndex, 'values', image.key])">
                        <div class="image-wrapper">
                            <img src="{{ image.path }}" title="{{ image.title }}">
                        </div>
                    </mat-checkbox>
                </div>
            </ng-container>

            <ng-container *ngIf="!currentQuestion.multiple">
                <mat-radio-group [formControl]="questionsFormGroup.get(['questions', currentQuestionIndex, 'value'])" class="flex-inline">
                    <mat-radio-button *ngFor="let image of currentQuestion.options" [value]="image.key">
                        <div class="image-wrapper">
                            <img src="{{ image.path }}" title="{{ image.title }}">
                        </div>
                    </mat-radio-button>
                </mat-radio-group>
            </ng-container>


        </div>

        
    </div>
    
    <div class="action-container" [ngSwitch]="currentQuestionIndex">
        <button class="action-item"
        *ngIf="currentQuestionIndex > 0"
        (click)="prevQuestion()"
        mat-button mat-raised-button matStepperNext>Zurück</button>

        <button class="action-item"
        *ngSwitchDefault
        (click)="nextQuestion()"
        [disabled]="! questionsFormGroup.get(['questions', currentQuestionIndex]).valid"
        mat-button mat-raised-button matStepperNext>Weiter</button>
        <button class="action-item"
        *ngSwitchCase="questions.length - 1"
        color="primary"
        (click)="saveQuestions()"
        [disabled]="! questionsFormGroup.get(['questions', currentQuestionIndex]).valid"
        mat-button mat-raised-button>Speichern</button>
    </div>
    
</form>