<div id="counter">
  {{currentQuestion}}/{{numberOfQuestions}}
  </div>



<div *ngIf="radio" class="radio-question">
  Welchen Präsidenten bevorzugst du ?
  <form>
    <mat-radio-group>
      <mat-radio-button value="1">Donald Trump</mat-radio-button>
      <mat-radio-button value="2">Barack Obama</mat-radio-button>
      <mat-radio-button value="2">Bill Clinton</mat-radio-button>
      <mat-radio-button value="2">John F. Kennedy</mat-radio-button>
    </mat-radio-group>
  </form>
</div>

<div *ngIf="picture" class="picture-question">
  Wähle eines der folgenden Bilder:
  <form>
    <mat-radio-group>
      <mat-radio-button class="radio-button" *ngFor="let picture of pictures" value="1"><img [src]="picture"/></mat-radio-button>
    </mat-radio-group>
  </form>
</div>

<div *ngIf="slider" class="slider-question">
  Wie sehr wünschst du dir Edmund Stoiber als Kanzlerkandidat zurück? <br>
  <mat-slider  thumbLabel  [displayWith]="formatLabel"  tickInterval=1  min="1"  max=10>
  </mat-slider>
</div>

<button mat-button (click)="nextQuestion()">Next Question</button>
