<form [formGroup]="questionsFormGroup.get('questions')">

    <div class="step-display"> Frage: {{ currentQuestionIndex + 1 }} / {{ questions.length }} </div>
    <mat-divider></mat-divider>

    <div [formArrayName]="currentQuestionIndex" class="question">

        <div *ngIf="currentQuestion.type == 'select-option'"
            class="question-select-option">

            <mat-radio-group formControlName="value" class="flex-inline">
                <mat-radio-button *ngFor="let option of currentQuestion.options" [value]="option.key">{{ option.value }}</mat-radio-button>
            </mat-radio-group>

        </div>

        <div *ngIf="currentQuestion.type == 'select-image-option'"
            class="question-select-image-option">

            <mat-radio-group formControlName="value" class="flex-inline">
                <mat-radio-button *ngFor="let image of currentQuestion.images" [value]="image.key">
                    <div class="image-wrapper">
                        <img src="{{ image.path }}" title="{{ image.title }}">
                    </div>
                </mat-radio-button>
            </mat-radio-group>

        </div>

        
    </div>
    
    <div class="action-container" [ngSwitch]="currentQuestionIndex">
        <button class="action-item"
        *ngIf="currentQuestionIndex > 0"
        (click)="prevQuestion()"
        mat-button mat-raised-button matStepperNext>Zurück</button>

        <button class="action-item"
        *ngSwitchDefault
        (click)="nextQuestion()"
        [disabled]="! questionsFormGroup.get(['questions', currentQuestionIndex]).valid"
        mat-button mat-raised-button matStepperNext>Weiter</button>
        <button class="action-item"
        *ngSwitchCase="questions.length - 1"
        color="primary"
        (click)="saveQuestions()"
        [disabled]="! questionsFormGroup.get(['questions', currentQuestionIndex]).valid"
        mat-button mat-raised-button>Speichern</button>
    </div>
    {{ questionsFormGroup.value | json }}
</form>