<form [formGroup]="profileForm">

    <mat-form-field class="example-full-width">
        <input matInput 
        formControlName="first_name"
        autocomplete="given-name" placeholder="Vorname">
        <mat-error *ngIf="profileForm.get('first_name').hasError('required')">Es muss ein Vorname angegeben werden</mat-error>
    </mat-form-field>
    
    <mat-form-field class="example-full-width">
        <input matInput 
        formControlName="last_name"
        autocomplete="family-name" placeholder="Nachname">
        <mat-error *ngIf="profileForm.get('last_name').hasError('required')">Es muss ein Nachname angegeben werden</mat-error>
    </mat-form-field>

    <mat-form-field>
        <mat-select formControlName="gender" placeholder="Geschlecht">
            <mat-option value="0">Männlich</mat-option>
            <mat-option value="1">Weiblich</mat-option>
        </mat-select>
        <mat-error *ngIf="profileForm.get('gender').hasError('required')">Bitte wähle dein Geschlecht aus</mat-error>
    </mat-form-field>

    <div class="info-block">
        <mat-icon>info</mat-icon> Lade mindestens drei Bilder von deinen lieblings Wissenschaftler hoch
    </div>
    <button mat-button>Bild hochladen</button>

    <div class="action-container">
        <button class="action-item" mat-button mat-raised-button matStepperNext>Weiter</button>
    </div>

</form>
