<form class="example-form">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Vorname" value="">
        </mat-form-field>
      
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Nachname" value="">
        </mat-form-field>

        <mat-form-field>
        <select matNativeControl required>
            <option value="">Männlich</option>
            <option value="">Weiblich</option>
            <option value="">Keine Angabe</option>
        </select>
        </mat-form-field>
        <button mat-button>Bild hochladen</button>
</form>
