<mat-card>
  <h4>Wilkommen bei Mentoree!</h4><br>
  Um einen passenden Mentor für dich zu finden brauchen wir zunächst einige Informationen über dich
  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veniam corrupti vero ut ullam, porro voluptatibus voluptatem quis ex amet nisi debitis totam itaque aperiam! Officiis, soluta. Quidem quas minima dolores!
</mat-card>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="profileEdit.profileForm">
    <ng-template matStepLabel>Profildaten</ng-template>
    <div class="step-container">
      <profile-edit></profile-edit>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Bilder</ng-template>
    <div class="step-container">
      <profile-images></profile-images>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fragenkatalog</ng-template>
    <!-- <div class="step-container"> -->
      <profile-questionary (onQuestionSave)="save()"></profile-questionary>
    <!-- </div> -->
  </mat-step>
</mat-horizontal-stepper>