<mat-card>
  <h4>Wilkommen bei Mentoree!</h4><br>
  Jeder kennt das Problem aus Schulzeiten. Es gibt Lehrer die einfach nicht zu einem passen. Oder aber umgekehrt
  Schüler zu denen der Lehrer einfach keinen Draht findet. Und das hat meistens direkten Einluss auf den
  Lernerfolg.<br>
  Wir von Mentoree sorgen daher dafür, dass Mentoren und Mentee nach individuellen Eigenschaften
  zugeordnet werden, um für beide Seiten ein angenehmes und lerneffektives Lernklima zu erschaffen. Daher bitten wir dich, 
  ob Mentor oder Mentee, die folgenden Schritte gewissenhaft durchzuführen. Du wirst davon profitieren.
</mat-card>

<mat-horizontal-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="profileEdit.profileForm">
    <ng-template matStepLabel>Profildaten</ng-template>
    <div class="step-container">
      <profile-edit></profile-edit>
    </div>
  </mat-step>
  <mat-step [stepControl]="profileImages.imageForm">
    <ng-template matStepLabel>Bilder</ng-template>
    <div class="step-container">
      <profile-images></profile-images>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Fragenkatalog</ng-template>
    <!-- <div class="step-container"> -->
      <profile-questionary (onQuestionSave)="save()"></profile-questionary>
    <!-- </div> -->
  </mat-step>
</mat-horizontal-stepper>