<div *ngIf="currentMatching">

    <div class="match-container">

        <div class="match">

            <img [@slide]="state" (@slide.done)="animationCallback($event)" src="{{currentMatching.url}}">

        </div>

    </div>

    <div class="match-actions">

        <div class="wrap">

            <button (click)="toggleState('left')" color="warn" mat-fab>
                <mat-icon>cancel</mat-icon>
            </button>

            <button (click)="toggleState('right')" color="primary" mat-fab>
                <mat-icon>favorite</mat-icon>
            </button>

        </div>

    </div>

</div>

<div *ngIf="loadingComplete && !currentMatching">

    <div class="success">
        <h3>Alle Bilder bewertet!</h3>
        <p>Du hast alle für dich verfügbaren Bilder bewertet, probiere es demnächst erneut um neue Bilder zu bewerten</p>
    </div>

</div>
